.form__element {
  position: relative;
}
.unmask {
  position: absolute;
  right: 10px;
  top: 21px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: $orange;
  border: none;
  cursor: pointer;
  @media (max-width: map-get($breakpoints-max, m)) {
    top: 20px;
  }
}
.active {
  background-color: #7cde47;
}
