// width
$xlWidth: 2400px;
$lgWidth: 1500px;
$mdWidth: 1000px;
$smWidth: 800px;

// color
$firstBlue: #293d96;
$firstOrange: #e17200;
$green: #00db5f;
$orange: #ff9500;
$red: #f90404;
$white: white;
$black: #302c2e;
$secondBlue: #b7e6f3;

// display flex mode
$modeX: space-between;
$modeY: center;
$modeAlign: column;

// form background
$backgroundConnection: url("../images/connection-background.jpg");
$backgroundInscription: url("../images/inscription-background.jpg");
$backgroundForgivenPassword: url("../images/forgiven-password-background.jpg");
$backgroundPasswordModify: url("../images/password-modify-background.jpg");
$backgroundPayment: url("../images/payment-background.jpg");
